@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  * {
    @apply dark:border-gray-500;
  }

  .btn-1 {
    @apply flex items-center justify-center w-full px-10 py-5 mx-auto text-xl font-semibold text-gray-100 uppercase transition duration-300 ease-in-out bg-indigo-600 rounded-full disabled:bg-indigo-400 hover:bg-indigo-700 md:w-60 dark:text-gray-200;
  }

  input,
  select {
    @apply dark:bg-at-dark-secondary dark:focus:ring-gray-400 dark:focus:border-gray-500;
  }

  label {
    @apply text-[0.8rem] font-semibold tracking-widest text-gray-500 uppercase dark:text-gray-400;
  }

  h2 {
    @apply text-xl font-semibold tracking-widest text-gray-700 dark:text-current;
  }
  .account-wrapper {
    @apply p-8 bg-white border-gray-500 rounded-lg shadow-md dark:text-gray-400 dark:border dark:bg-at-dark-primary;
  }
}

@layer base {
  @font-face {
    font-family: Futura;
    font-weight: 400;
    src: url(/fonts/FuturaStd-Book.otf) format("woff");
    font-display: swap;
  }
  @font-face {
    font-family: Futura;
    font-weight: 500;
    src: url(/fonts/FuturaStd-Medium.otf) format("woff");
    font-display: swap;
  }
  @font-face {
    font-family: Futura;
    font-weight: 700;
    src: url(/fonts/FuturaStd-Bold.otf) format("woff");
    font-display: swap;
  }
  @font-face {
    font-family: Futura;
    font-weight: 800;
    src: url(/fonts/FuturaStd-ExtraBold.otf) format("woff");
    font-display: swap;
  }
}

/* body {
  font-family: "Futura", sans-serif !important;
} */
